@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 50px calc(100vh - 50px);
    grid-template-columns: 130px calc(100% - 130px);
    font-family: "Poppins", sans-serif;
}

.header,
.nav1 {
    background-color: var(--color-terciario);
    color: var(--color-main);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1 {
    justify-content: flex-end;
    padding-right: 20px;
}

.AppAside {
    background-color: var(--color-cuatro);
}

.nav2 {
    color: var(--color-font-cuatro);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

    .nav2 a {
        text-decoration: none;
        color: var(--color-font-terciario);
        font-weight: bold;
        padding: 5px;
        cursor: pointer;
        border-bottom: 2px solid var(--color-terciario);
        transition: all 0.5s;
    }

        .nav2 a:hover {
            border-bottom: 2px solid var(--color-font-terciario);
        }

.AppMain {
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;
}
