@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script>
    //window.onload = async () => {
    //    await fetch("api/MantenimientoCatalogos/GetCompraArticulo", {
    //        method: 'POST', //or 'PUT'
    //        body: JSON.stringify({}),
    //        headers: {
    //            'Content-Type': 'application/json'
    //        }
    //    })
    //}
</script>
<script src="~/App.js" type="module"></script>
<div  id="AppMain">
    <h1 class="text">TIENDA CALZADO MI FAVORITA</h1>
    <h2 class="text">SISTEMA WEB TRANSACCIONAL</h2>
</div>